<main>
    <h2 class="title">Farming-Assistant</h2>
    <form action="/crop" method="POST">
        <label for="soil">Select Soil Type:</label>
        <select name="soil" id="soil">
            <option value="sandy">Sandy</option>
            <option value="clay">Clay</option>
            <option value="loamy">Loamy</option>
            <option value="silty">Silty</option>
        </select>
        <input type="hidden" name="city" value="<%= city %>">
        <input type="hidden" name="weatherCondition" value="<%= weatherCondition %>">
        <input type="hidden" name="temperature" value="<%= temperature %>">

        <button type="submit">Get Recommendations</button>
    </form>

    <% if (crops) { %>
        <h2>Recommended Crops for <%= city %> (Weather: <%= weatherCondition %>, Temp: <%= temperature %>°C)</h2>
        <ul>
            <% crops.forEach(crop => { %>
                <li><%= crop %></li>
            <% }) %>
        </ul>
    <% } %>
        
</main>
